<% layout('layout') -%>

<article>
    <div class="jumbotron article">
        <h4 class="jumbo">CARDIOLOGY</h4>
        <br>
        <h4>
            Cardiology is a part of drug managing scatters of the heart and parts of the
            circulatory framework. The field incorporates restorative conclusion and 
            treatment of innate heart surrenders, coronary course malady, heart failure,
            valvular coronary illness and electrophysiology.Doctors who have some expertise
            in this field of medication are called cardiologists, a claim to fame of inner
            medicine.Pediatric cardiologists are pediatricians who spend significant time
            in cardiology.Physicians who have some expertise in cardiovascular medical
            procedure are called cardiothoracic specialists or heart specialists, a claim
            to fame of general medical procedure.
        </h4>
        <br>
        <ol>
            <li>General Cardiology</li>
            <li>Specialist Cardiology</li>
            <li>Pacing</li>
            <li>Coronary intervention</li>
            <li>Heart failure and transplant</li>
        </ol>
        <br>
        <p><a class="btn btn-primary" href="/cardioservice" role="button">See list of available doctors.. &raquo;</a></p>
    </div>    
</article>

<article>
    <div class="jumbotron article">
        <h4 class="jumbo">PAEDIATRICS</h4>
        <br>
        <h4> 
             At our centre childhood is celebrated. When they play and investigate, youngsters' creative energy and interest is started
            – they appreciate learning, and are propelled to keep adapting more. At Health First Care Center, we execute the Australian-affirmed
            educational modules. Play-based learning is the establishment of our educational modules and rotates around the youngsters'
            advantages and instructors' nearby perceptions what's more, appraisal of their improvement. Play is interlaced with deliberate
            educating and gives a setting for learning.
            <br><br>
            
            Our instructors work in bona fide association with kids to effectively advance learning through testing encounters and associations
            that cultivate abnormal state thinking abilities. Our educational programs is comprehensive everything being equal. We perceive
            that youngsters bring their various encounters, points of view, desires, learning and aptitudes to the middle. We esteem
            and fabricate on kids' qualities, interests, capacities and social conventions, while utilizing techniques such as displaying,
            making open finished inquiries, theorizing, clarifying and participating in shared reasoning what's more, critical thinking,
            to broaden the youngsters' learning and considering.
        </h4>
        <br>
        <ol>
            <li>children’s Epilepsy</li>
            <li>Ketogenic diet</li>
            <li>Eating disorders</li>
        </ol>  
        <br>      
        <p><a class="btn btn-primary" href="/paediatric" role="button">See list of available doctors.. &raquo;</a></p>
    </div>    
</article>

<article>
    <div class="jumbotron article">
        <h4 class="jumbo">DENTISTRY</h4>
        <br>
        <h4>
            Dentistry is a part of pharmaceutical that comprises of the investigation, finding, counteractive action, and treatment
            of maladies, issue, and states of the oral cavity, generally in the dentition yet in addition the oral mucosa, and of adjoining
            and related structures and tissues, especially in the maxillofacial (jaw and facial) area.[1] Although basically related
            with teeth among the overall population, the field of dentistry or dental drug isn't restricted to teeth yet incorporates
            different parts of the craniofacial complex including the temporomandibular joint and other supporting, strong, lymphatic,
            anxious, vascular, also, anatomical structures.
        </h4>
        <br>
        <ol>
            <li>Root canal treatment</li>
            <li>Cleaning, fillings and extraction</li>
            <li>Endodontics</li>
            <li>Prosthodontics</li>
            <li>Oral surgery</li>
        </ol>
        <br>
        <p><a class="btn btn-primary" href="/dentistry" role="button">See list of available doctors.. &raquo;</a></p>
    </div>    
</article>

<article>
    <div class="jumbotron article">
        <h4 class="jumbo">PHYSIOLOGY</h4>
        <br>
        <h4>
             Exercise physiologists normally have an enthusiasm for the Building, Thinking and Helping interest zones, as per the Holland
            Code system. The Building interest region demonstrates an attention on working with instruments and machines, and making
            or settling handy things. The Thinking premium zone shows an emphasis on inquiring about, exploring, and expanding the comprehension
            of common laws. The Helping interest territory shows an emphasis on helping, serving, guiding, or showing other individuals.
            <br> Exercise physiologists ordinarily do the accompanying: 1. Investigate a patient's medicinal history to survey their hazard
            amid practice and to decide the most ideal exercise and wellness regimen for the patient 2. Perform wellness and stress tests
            with restorative gear and break down the subsequent patient information 3. Measure blood pressure, oxygen utilization, heart
            rythm, and other key patient wellbeing markers. 4. Create practice projects to enhance patients' wellbeing 5. Exercise physiologists
            work to enhance generally quiet wellbeing. A considerable lot of their patients experience the ill effects of medical issues,
            for example, cardiovascular ailment or pneumonic (lung) malady. Exercise physiologists give wellbeing training and exercise
            intends to enhance key wellbeing markers.
            <br> A few physiologists work intimately with essential consideration doctors, who may recommend practice regimens for their
            patients and allude them to practice physiologists. The physiologists at that point work with patients to create individualized
            treatment designs that will enable the patients to meet their wellbeing and wellness objectives.
        </h4>
        <br>
        <ol>
            <li>Pain management and relief</li>
            <li>Athlete development</li>
            <li>Musculoskeletal rehabilitation</li>
            <li>Integration with Allied Health services</li>
            <li>Weight loss</li>
        </ol>
        <br>
        <p><a class="btn btn-primary" href="/physiology" role="button">See list of available doctors.. &raquo;</a></p>
    </div>    
</article>

<article>
    <div class="jumbotron article">
        <h4 class="jumbo">RADIOLOGY</h4>
        <br>
        <h4>
            A radiologist translates restorative pictures on an advanced picture documenting and correspondence system(PACS) workstation.
            Radiology is the science that utilizations therapeutic imaging to analyze and here and there likewise treat ailments inside
            the body.A assortment of imaging procedures, for example, X-beam radiography, ultrasound, figured tomography (CT), atomic
            solution including positron outflow tomography (PET), and attractive reverberation imaging (MRI) are utilized to analyze
            or potentially treat ailments. Interventional radiology is the execution of (ordinarily negligibly obtrusive) medicinal techniques
            with the direction of imaging technologies.The obtaining of medicinal pictures is generally done by the radiographer, frequently
            known as a Radiologic Technologist. The Diagnostic Radiologist, an uncommonly prepared specialist, at that point deciphers
            or "peruses" the pictures and delivers a report of their discoveries and impression or finding. In a few places, a Reporting
            Radiographer, a radiographer with extra preparing, will go up against the job of indicative announcing
        </h4>
        <br>
        <ol>
            <li>Biopsy</li>
            <li>Bone densitometry</li>
            <li>CT Scan</li>
            <li>Dental X-ray</li>
            <li>General X-ray</li>
            <li>MRI</li>
        </ol>
        <br>
        <p><a class="btn btn-primary" href="/radiology" role="button">See list of available doctors.. &raquo;</a></p>
    </div>    
</article>