<% layout('layout') -%>

<section>
        <div class="jumbotron jumbo-about">
          <h3>ABOUT</h3><br>
          <h3>Health First Medicals, Australia:</h3><br>
          <p class="article">
                Today the doctor's facility is perceived as an incredibly famous foundation, giving extraordinary
                consideration and treatment, as well as enhancing the results for all through an exhaustive
                restorative research program, and the preparation of our future wellbeing experts. As one of the
                recent innovation of doctor's facilities in Victoria, the HEALTH FIRST gives an extensive scope
                of wellbeing administrations crosswise over two grounds.
                <br>
                <br>

                Our city grounds gives general and pro medicinal and careful intense administrations.The HEALTH
                FIRST team assumes a key job inside the
                more extensive Victorian wellbeing segment. It additionally contains focuses of greatness for
                tertiary administrations in a few key claims to fame including radiology, cardiology, dentistry
                and physiology.We have a glad accomplishments in recent years of authority in making an interpretation
                of research to enhance clinical consideration. We trust examine is principal to accomplish perfection
                in care and enhance tolerant results. We continually search out new treatments and imaginative practices
                and strategies, through a culture of learning and revelation. Throughout the following five years we
                will reinforce this culture as we intend to be a main place for the conveyance of translational wellbeing
                exploration and instruction.
                <br>
                <br>
                
                As a pioneer in clinical instructing and preparing, we likewise hope to shape the social insurance and
                research pioneers without bounds in a joint effort with our educating and preparing accomplices. We have
                solid associations with driving scholastic foundations crosswise over clinical specialities for college
                understudies, staff, post-graduate understudies and outside wellbeing experts.
          </p>
        </div>    
</section>