<% layout('layout') -%>
  
<section>
    <div class="jumbotron jumbo">
      <h3>Make your health right with various treatments and courses available.</h3><br>
      <h4>&dArr;	&dArr;	Get your appointment now &dArr;	&dArr;	</h4><br>
      <p><a class="btn btn-primary" href="/getappointment" role="button">Get Appointment &raquo;</a></p>
    </div>    
</section>

<div class="container">
    <div class="col">
      <div class="col-md-3 home-block">
        <h3>Cardiology</h3>
        <p><a href="/signup">Signup for appointment</a></p>
        <img src="css/5.jpeg" height ="100px" width="100px">
      </div>

      <div class="col-md-3 home-block">
        <h3>Paediatrics</h3>
        <p><a href="/signup">Signup for appointment</a></p>
        <img src="css/childcare.jpg" height="100px" width="100px">
      </div>

      <div class="col-md-3 home-block">
        <h3>Dentistry</h3>
        <p><a href="/signup">Signup for appointment</a></p>
        <img src="css/dentistry.jpg" height="100px" width="95px">
      </div>
      
      <div class="col-md-3 home-block">
          <h3>Physiology</h3>
          <p><a href="/signup">Signup for appointment</a></p>
          <img src="css/physiology.png" height="100px" width="90px">
      </div>
      
      <div class="col-md-3 home-block">
          <h3>Radiology</h3>
        <p><a href="/signup">Signup for appointment</a></p>
          <img src="css/radiology.jpg" height="100px" width="120px">
        </div>
    </div>
</div>